*.sw?
.env
node_modules/.cache/gh-pages/https!github.com!Vishesh-Tripathi!E-Manage.git
node_modules/.vite/deps/_metadata.json
node_modules/.vite/deps/@material-tailwind_react.js
node_modules/.cache/gh-pages/https!github.com!Vishesh-Tripathi!E-Manage.git
node_modules/.vite/deps/_metadata.json
node_modules/.vite/deps/@material-tailwind_react.js
